@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>Car Management System</h3>
<br />
<p>Bachelor Degree Graduation Project</p>
<br />
<p>The car management system aims to help drivers organize and ficilitate the maintenance of their vehicles.</p>
<p>To experience the car management system for yourself, click home.</p>
