@{
    ViewBag.Title = "Author Info";
}
<h2>@ViewBag.Title</h2>

<address>
    <b>Blagoy Nikolov</b><br />
    fac. No. 121213206<br />
    Computer and Software Engineering<br />
    Department "Computer Systems"<br />
    FCSC<br />
</address>

<address>
    <strong>GitHub:</strong>   <a href="https://github.com/BlagoyNikolov">Blagoy Nikolov - GitHub</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/blagoy-nikolov-14946499">Blagoy Nikolov - LinkedIn</a>
</address>